<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Raise Complaint | e-Municipal Corporation</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  
    <link rel="stylesheet" href="/css/raise-complaint.css">
</head>
<body>
  <div class="page-shell">
    <div class="topbar">
      <div class="brand">
        <div class="brand-logo">
          <i class="fa-solid fa-clipboard-list"></i>
        </div>
        <div class="brand-title">Raise Complaint</div>
      </div>
      <a href="/dashboard" class="back-link">
        <i class="fa-solid fa-arrow-left"></i>
        Back to Dashboard
      </a>
    </div>

    <div class="hero">
      <h1>Select Complaint Type</h1>
      <p>Choose the category matching your issue. For each complaint, you will fill location and details on the next page.</p>
    </div>

    <div class="cards">
      <a class="card-link" th:href="@{/complaint-form(type='Dead Animal')}">
        <div class="card">
          <div class="card-icon"><i class="fa-solid fa-skull-crossbones"></i></div>
          <h4>Dead Animal</h4>
          <p>Report removal of dead animals in your area.</p>
        </div>
      </a>

      <a class="card-link" th:href="@{/complaint-form(type='Dog Catcher')}">
        <div class="card">
          <div class="card-icon"><i class="fa-solid fa-dog"></i></div>
          <h4>Dog Catcher</h4>
          <p>Request stray dog control or dog catcher support.</p>
        </div>
      </a>

      <a class="card-link" th:href="@{/complaint-form(type='Water Pipeline Overflow')}">
        <div class="card">
          <div class="card-icon"><i class="fa-solid fa-faucet-drip"></i></div>
          <h4>Water Pipeline Overflow</h4>
          <p>Leakage or overflow from pipeline/water supply line.</p>
        </div>
      </a>

      <a class="card-link" th:href="@{/complaint-form(type='Drainage Overflow')}">
        <div class="card">
          <div class="card-icon"><i class="fa-solid fa-water"></i></div>
          <h4>Drainage Overflow</h4>
          <p>Open drain blockage, overflow, or sewer issue.</p>
        </div>
      </a>

      <a class="card-link" th:href="@{/complaint-form(type='Garbage Vehicle Not Coming')}">
        <div class="card">
          <div class="card-icon"><i class="fa-solid fa-truck"></i></div>
          <h4>Garbage Vehicle Not Coming</h4>
          <p>Garbage pickup vehicle is not visiting your area.</p>
        </div>
      </a>

      <a class="card-link" th:href="@{/complaint-form(type='Safai Karmachari Not Coming')}">
        <div class="card">
          <div class="card-icon"><i class="fa-solid fa-broom"></i></div>
          <h4>Safai Karmachari Not Coming</h4>
          <p>Sanitation worker is not coming for cleaning duty.</p>
        </div>
      </a>

      <a class="card-link" th:href="@{/complaint-form(type='Road Potholes')}">
        <div class="card">
          <div class="card-icon"><i class="fa-solid fa-road"></i></div>
          <h4>Road Potholes</h4>
          <p>Report potholes or damaged road surface.</p>
        </div>
      </a>

      <a class="card-link" th:href="@{/complaint-form(type='Garbage on Road')}">
        <div class="card">
          <div class="card-icon"><i class="fa-solid fa-trash-can"></i></div>
          <h4>Garbage on Road</h4>
          <p>Garbage dumped on roadside or public place.</p>
        </div>
      </a>

      <a class="card-link" th:href="@{/complaint-form(type='Encroachment')}">
        <div class="card">
          <div class="card-icon"><i class="fa-solid fa-person-digging"></i></div>
          <h4>Encroachment</h4>
          <p>Illegal occupation or obstruction in public space.</p>
        </div>
      </a>

      <a class="card-link" th:href="@{/complaint-form(type='Street Light')}">
        <div class="card">
          <div class="card-icon"><i class="fa-solid fa-lightbulb"></i></div>
          <h4>Street Light</h4>
          <p>Faulty or non-working street light complaint.</p>
        </div>
      </a>

      <a class="card-link" th:href="@{/complaint-form(type='Other')}">
        <div class="card">
          <div class="card-icon"><i class="fa-solid fa-circle-question"></i></div>
          <h4>Other</h4>
          <p>Use this option for issues not listed above.</p>
        </div>
      </a>
    </div>
  </div>
</body>
</html>

